==
<div class="row">
  <div class="char-info-img col-md-4">    
      <img class="img-thumbnail" style="width:100%" src="{{'assets/images/default.jpg'|theme}}" alt="...">  
      <div class="progress">
         <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">80% Complete (danger)</span>
         </div>
      </div>
      <div class="progress">
         <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">80% Complete (danger)</span>
         </div>
      </div>
  </div>
  <div class="char-info-main col-md-4">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Main info</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">14</span>
            Race
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            Class
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            Location
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            Credits
          </li>
        </ul>
      </div>
    </div>    
  </div>
  <div class="char-info-stats col-md-4">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Stats</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">14</span>
            Strength
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            Dexterity
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            Vitality
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            Education
          </li>
        </ul>
      </div>
    </div>    
  </div>  
</div>
<div class="row">
  <div class="char-info-mastery col-md-4">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mastery</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">14</span>
            Sword
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            Spear
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            Axe
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            Knife
          </li>
        </ul>
      </div>
    </div>    
  </div>
  <div class="char-info-stats col-md-4">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Stats</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">14</span>
            Strength
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            Dexterity
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            Vitality
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            Education
          </li>
        </ul>
      </div>
    </div>    
  </div>
  <div class="char-info-mastery col-md-4">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mastery</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge">14</span>
            Sword
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            Spear
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            Axe
          </li>
          <li class="list-group-item">
            <span class="badge">14</span>
            Knife
          </li>
        </ul>
      </div>
    </div>    
  </div>
</div>