[session]
security = "user"
redirect = "login"

[CharSession]
==
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>RPG</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ ['assets/vendors/bootstrap/css/bootstrap.min.css', 'assets/vendors/fontawesome/css/font-awesome.min.css', 'assets/main/css/main.css']|theme }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{{ dump(session.user.toArray) }}
    {% partial 'top-nav' %}

    <div class="container-fluid">
      <div class="row">
        {% partial 'side-nav' %}
        <div class="col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 main">
         
         {% page %} 
         
        </div>
      </div>
    </div>
    
<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
    <script src="{{'assets/vendors/bootstrap/js/bootstrap.min.js'|theme}}"></script>
    {% framework extras %}
</body>
</html>